<!DOCTYPE html>
<html>
  <head>
    <title>Coin Changer 2000</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="style.css">
    <!-- <link rel="icon" href="/images/favicon.ico?" type="image/x-icon">   added to get favicon to load -->
  </head>
  <body>
    <header>
      <h1 class="money">Coin Changer 2000<sup>®</sup></h1>
    </header>
    <section>

        <%= yield %>  <!-- load unique content from other .erb files -->
        <form method = "post" action = "your_change">
          <input type = "text" name = "amount">  <!-- tried type = "number" but didn't work -->
          <input type = "submit">
        </form>
      </div>
      <br>
      <hr>

    </section>
  </body>
</html>